ElectricityServicePlan/src/main/resources/test.wsdl

<wsdl:definitions xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://soapws.service.electricityplan.utilityservice.bootcamp.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="ElectricServicePlan"
	targetNamespace="http://soapws.service.electricityplan.utilityservice.bootcamp.com/">
	<wsdl:types>
		<xs:schema
			xmlns:tns="http://soapws.service.electricityplan.utilityservice.bootcamp.com/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified"
			targetNamespace="http://soapws.service.electricityplan.utilityservice.bootcamp.com/"
			version="1.0">
			<xs:element name="getElectricityServicePlan" type="tns:getElectricityServicePlan" />
			<xs:element name="getElectricityServicePlanResponse" type="tns:getElectricityServicePlanResponse" />
			<xs:complexType name="getElectricityServicePlan">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="getElectricityServicePlanResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="return"
						type="tns:servicePlan" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="servicePlan">
				<xs:sequence>
					<xs:element minOccurs="0" name="serviceCharge" type="xs:string" />
					<xs:element name="serviceId" type="xs:int" />
					<xs:element minOccurs="0" name="servicePeriod" type="xs:string" />
					<xs:element minOccurs="0" name="servicePlan" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getElectricityServicePlan">
		<wsdl:part element="tns:getElectricityServicePlan" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getElectricityServicePlanResponse">
		<wsdl:part element="tns:getElectricityServicePlanResponse"
			name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ElectricityServicePlan">
		<wsdl:operation name="getElectricityServicePlan">
			<wsdl:input message="tns:getElectricityServicePlan" name="getElectricityServicePlan"></wsdl:input>
			<wsdl:output message="tns:getElectricityServicePlanResponse"
				name="getElectricityServicePlanResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ElectricServicePlanSoapBinding" type="tns:ElectricityServicePlan">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getElectricityServicePlan">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getElectricityServicePlan">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getElectricityServicePlanResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ElectricServicePlan">
		<wsdl:port binding="tns:ElectricServicePlanSoapBinding"
			name="ElectricityServicePlanImplPort">
			<soap:address
				location="http://localhost:8080/UtilityServicePlan/webServices/services" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>